<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Window_Form_Exam.Properties.Settings.crud_productConnectionString"
            connectionString="Data Source=WIN-ON87F60K50N;Initial Catalog=crud-product;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Window_Form_Exam.Properties.Settings.window_formConnectionString"
            connectionString="Data Source=WIN-ON87F60K50N;Initial Catalog=window_form;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>